extends layout

block content
  if currentUser 
    h3 Hi #{currentUser.name}
    if currentUser.isMember 
       p You are a member!
    else 
      p You are not a member yet!
  else
    h3= title
  p This is where the posts will go!